.products {
   margin: 20px;
   padding: 0;
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   /* gap: 20px; */
   /* grid-template-columns: 1fr 1fr 1fr; */
 }
 
 .products__single {
   height: 250px;
   width: 250px;
   margin: 5px;
   list-style: none;
   padding: 20px;
   background-color: rgb(220, 220, 220);
   text-align: center;
   border-radius: 5px;
   cursor: pointer; /* Imp on clickables */
 }
 
 .products__single > img{
   width: 100%;
   height: 95%;
   object-fit: cover;
   margin-bottom: 3px;
 }
 
 .pagination {
   padding: 10px;
   /* margin: 15px 0; */
   display: flex;
   /* color: rgb(211, 211, 211); */
   justify-content: center;
 }
 
 .pagination > span{
   padding: 15px 20px;
   border: 1px solid rgb(216, 216, 216);
   cursor: pointer;
   transition: .2s ease-in-out;
 }
 .pagination > span:hover{
   transform: scale(0.90);
   background-color: rgb(211, 211, 211);
}
 
 .pagination__disable{
   opacity: 0;
 }
 
 .pagination__selected{
   background-color: rgb(220, 220, 220);
 }