.header-container{
   width: 100%;
   background-color: black;
   color: white;
   height: 60px;
   position: sticky;
   top: 0;
   left: 0;
   border-bottom: 1px solid grey;
}
.header-wrapper{
   height: 100%;
   display: flex;
   width: 1180px;
   align-items: center;
   justify-content: space-between;
   margin:0 auto;
}
.header-left{
   font-weight: bold;
   font-size: 28px;
}
.header-left > a {
   color: white;
   text-decoration: none;
}
.header-center{
   display: flex;
   align-items: center;
}
.header.listitem{
   transition: 0.3s ease;
   padding: 0 10px;
}
.header.listitem:hover{
   color: rgb(215, 250, 250);
   cursor: pointer;
}
.header-right > .header-img{
   width: 40px;
   height: 40px;
   cursor: pointer;
   border-radius: 40px;
   object-fit: cover;
}
.header-right {
   display: flex;
   align-items: center;
}
.header-modal{
   padding: 10px 40px;
   width: 75px;
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   top: 3.9rem;
   right: 2rem;
   box-shadow: 0 0 15px rgb(204, 204, 204);
   display: flex;
   flex-direction: column;
   position: absolute;
   align-items: center;
   justify-content: center;
}
.header-modal > a {
   color: rgb(0, 0, 0);
   text-decoration: none;
}
.header-modal span{
   padding: 10px 0;
   cursor: pointer;
}