.main__trade__container {
   padding: 20px;
   width: 100%;
   margin-left: 7%;
   background-color: rgba(3, 3, 17, 0.945);
   /* background-color: pink; */
}

.mainRiskbar {
   justify-content: center;
   display: flex;
   color: rgb(172, 172, 172);
   text-align: center;
   background-color: rgb(35, 35, 37);
   /* background-color: red; */
   border-radius: 10px;
   border: none;
   margin: 20px 0;
}

.riskbar {
   padding: 5px 10px;
   width: 33.33%;
}

.riskbar:hover {
   border-radius: 10px;
   background-color: rgb(63, 63, 77);
   color: white;
   cursor: pointer;
}

.trade {
   width: 100%;
   display: flex;
   /* padding: 40px 0; */
   /* background-color: red; */
   justify-content: space-between;
   color: white;
   font-size: 15px;
   align-items: center;
}

.line-main-box {
   font-size: 15px;
   /* letter-spacing: 2px; */
   /* padding: 0 10px; */
}

.sort-main-box {
   padding: 10px 20px;
   font-size: 12px;
   cursor: pointer;
   border-radius: 5px;
   background-color: rgb(33, 33, 49);
}

/* main box start ----->  */
.coin-container {
   width: 100%;
   margin-top: 40px;
   border-radius: 2px;
   color: white;
   display: flex;
   justify-content: space-between;
   background-color: rgb(33, 33, 49);
   transition: .3s;
   border: 1px solid transparent;
}
.coin-container:hover{
   border: 1px solid rgb(0, 255, 0);
}

.pic-section-trade {
   /* background-color: red; */
   width: 20%;
   /* padding: 10px; */
}

.image-coin-name {
   width: 100%;
   text-align: center;
   /* border-radius: 10000px; */
   /* background-color: blue; */
   /* padding: 40px; */
}

.image-coin-name img {
   text-align: center;
   /* width: 100%; */
   padding: 5px;
   width: 150px;
   height: 150px;
   border-radius: 10000px;
   /* display: block; */
}

.socialhandles {
   padding: 0 20px;
   font-size: 20px;
}

.time-period {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin: 10px;
   border-radius: 5px;
   padding: 2px;
   background-color: rgb(51, 51, 65);
}

.time-period-listed {
   font-size: 10px;
   /* font-weight: bold; */
   letter-spacing: 1px;
}

.time-period-real-time {
   font-size: 21px;
   padding: 0 10px;
}


/* writing section */
.coin-section-trade {
   width: 70%;
   padding: 20px;
   /* background-color: red; */
}

.coin-name {
   display: flex;
   align-items: center;
   /* background-color: aqua; */
}

.coin-name-trade {
   color: white;
   font-weight: bold;
   font-size: 25px;
}

.coin-per-trade {
   color: lime;
   /* font-weight: bold; */
   font-size: 25px;
   padding: 0 10px;
}

.coin-time-trade {
   align-items: center;
   font-size: 12px;
   padding: 2px 5px;
   border-radius: 5px;
   background-color: rgb(99, 99, 116);
}

.coin-lines {
   font-size: 20px;
   text-transform: capitalize;
}

.coin-price-trade {
   font-size: 20px;
   /* font-weight: bold; */
}

.coin-price-eth-trade {
   padding: 0 10px;
   font-size: 11px;
   color: rgb(100, 100, 170);
}

.coin-price-bag-trade {
   font-size: 11px;
   color: rgb(100, 100, 170);
}

.trade-bar {
   display: flex;
   width: max-content;
   justify-content: center;
   color: rgb(172, 172, 172);
   text-align: center;
   /* background-color: rgb(35, 35, 37); */
   border-radius: 10px;
   /* border:1px solid honeydew; */
   margin:5px 0;
}
.bar {
   padding: 2px 5px;
   border-radius: 2px;
   border:1px solid honeydew;
   font-size: 9px;
}
.coin-button-name{
   display: flex;
   align-items: center;
   font-size: 13px;
}
.trade-button{
   width: max-content;
   padding: 5px 20px ;
   background-color: blue;
   border-radius: 5px;
}
.chart-button{
   border-radius: 5px;
   margin:0 10px ;
   width: max-content;
   padding: 5px 20px ;
   border:1px solid white;
}
.poor-button{
   border-radius: 5px;
   width: max-content;
   padding: 5px 20px ;
   background-color: rgb(255, 153, 0);
}
.coin-button-name-flex{
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.coin-price-eth-trade-contract{
   color: rgb(73, 72, 145);
   font-size: 10px;
}

.points{
   display: flex;
   padding: 10px 0;
}
.point{
   padding:2px 5px;
   font-size:11px;
   color: whitesmoke;
}
.green-light{
   width: 20px ;
   height: 20px;
   padding-right: 5px;
   border-radius: 40px;
   color: lime;
}
.orange-light{
   width: 20px ;
   height: 20px;
   padding-right: 5px;
   border-radius: 40px;
   color: rgb(255, 102, 0);
}



/* badge section */
.coin-badge-section {
   width: 10%;
   position: relative;
   /* display: flex; */
   /* background-color: lime; */
}
.badge1{
   width: max-content;
   padding:0px 10px;
   font-size: 40px;
   background-color: orange;
}
.bage2{
   width: max-content;
   /* padding:2px 15px; */
   color: rgb(230, 230, 230);
   font-size: 15px;
   background-color: orange;
}
.icon-mens-search{
   position: absolute;
   right: 0;
   border: 1px solid white;
   border-radius: 400px;
   padding: 5px 12px;
   bottom: 0;
   margin: 6px;
   font-size: 40px;
   transition: 0.3s;
}
.icon-mens-search:hover{
   background-color: white;
   color: black;
   transform: scale(0.8);
}